@using CarSale.Models
@using CarSale.Mocks
@{
    ViewData["Title"] = "AllCars";
}

<!DOCTYPE html>
<html>
<body>

    <h1>All Cars</h1>
    <div class="row mt-5 mb-2">
        @{
            foreach (var car in Model)
            {
                <div class="col-lg-6">
                    <h3>@($"{car.Brandname} {car.Modelname}")</h3>
                    <img src=@car.ImageUrl alt="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcScqGXN9u_ymkHnqEptsXPte1luADbMzMvdq2Gg8hCV5rT9Ppffmw&s" width="500">
                    <p>Color: @car.Color</p>
                    <p>Features: @car.Features</p>
                    <p>Country Of Origin: @car.CountryOfOrigin</p>
                    <p>Price: @car.Price</p>
                    <p><a class="btn btn-warning" href="https://localhost:44381/Cars/Details/@car.Brandname?modelname=@car.Modelname}">Details</a></p>
                </div>
                /*
                            <form method="LINK" action="http://codehelper.ru">
                            <input type="submit" value="Go to CodeHelper!">
                            </form>
                 */
            }
        }
    </div>

</body>
</html>