@using CarSale.Mocks;
@using ReflectionIT.Mvc.Paging;
@addTagHelper*,ReflectionIT.Mvc.Paging
@model ReflectionIT.Mvc.Paging.PagingList<CarSale.Models.CarDTO>
@{
    ViewData["Title"] = "Index";
}

<!DOCTYPE html>
<html>
<body>

    <h1>All Cars</h1>
    <div class="row mt-5 mb-2">
        @{
            foreach (var car in Model)
            {
                <div class="col-lg-6">
                    <h3>@($"{car.Brandname} {car.Modelname}")</h3>
                    <img src=@car.ImageUrl alt="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcScqGXN9u_ymkHnqEptsXPte1luADbMzMvdq2Gg8hCV5rT9Ppffmw&s" width="500">
                    <p>Color: @car.Color</p>
                    <p>Features: @car.Features</p>
                    <p>Country Of Origin: @car.CountryOfOrigin</p>
                    <p>Price: @car.Price</p>
                    <p><a class="btn btn-warning" href="https://localhost:44381/Cars/CarDetails/@(car.Brandname)/@(car.Modelname)">Details</a></p>
                </div>

            }
        }
    </div>
    <nav aria-label="Paging">
        @await this.Component.InvokeAsync("Pager", new { pagingList = this.Model })
    </nav>
</body>
</html>
