@using CarSale.Models
@using CarSale.Mocks
@{
    ViewData["Title"] = "ShowAllCars";
}

<!DOCTYPE html>
<html>
<body>

    <h1>All Cars</h1>
    @{
        foreach (var car in Model)
        {
            <div>
                <h3>@($"{car.Brandname} {car.Modelname}")</h3>
                <img src=@car.ImageUrl alt="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcScqGXN9u_ymkHnqEptsXPte1luADbMzMvdq2Gg8hCV5rT9Ppffmw&s" width="500">
                <p>Color: @car.Color</p>
                <p>Features: @car.Features</p>
                <p>Country Of Origin: @car.CountryOfOrigin</p>
                <p>Price: @car.Price</p>
                <p>Description: @car.LongDescription</p>
            </div>
        }

    }

</body>
</html>